/data
/References
*.png
*.private
/Efforts/0_Definir municipios mineros
Efforts/1_estimar_porcentaje_area_potencial_minero/.ipynb_checkpoints/Estimar_porcentaje_area_potencial_minero-checkpoint.ipynb
Efforts/1_estimar_porcentaje_area_potencial_minero/poligonos_interseccion_por_categoriaMineral.parquet
Efforts/1_estimar_porcentaje_area_potencial_minero/porcentaje_area_municipal_potencial_minero.parquet
Efforts/2_estimar_area_titulo_minero/.ipynb_checkpoints
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.xlsx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.shx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.shp
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.prj
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.parquet
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.dbf
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.cpg
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro.xlsx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro.parquet
Efforts/2_estimar_area_titulo_minero/.virtual_documents/estimar_area_titulo_minero.ipynb
Efforts/3_hacer_resumen_info_disponible
Efforts/4_explorar_presencia_mineros_subsistencia/.ipynb_checkpoints/Explorar_presencia_mineros_subsistencia-checkpoint.ipynb
/Efforts/5_Explorar_vbles_resultado
/Efforts/6_Propuesta
Efforts/7_ArmarPanel/outputs/PANEL_2026_04_21.xlsx
Efforts/7_ArmarPanel/outputs/PANEL_2026_04_24.xlsx
Efforts/8_estimar_IV
Efforts/10_usar_panel_SaavedraRomero2021/.ipynb_checkpoints/10_usar_panel_SaavedraRomero2021-checkpoint.ipynb
Efforts/2_estimar_area_titulo_minero/outputs/PANEL_AREA_TITULO_MINERO_STOCK_FLUJO.xlsx
Efforts/10_usar_panel_SaavedraRomero2021/Stata/01_Create_Stata_DataSet_forreg.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/02_Create_Stata_DataSet_forreg1517.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/03_add_causalForest_leafs.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/05_DiDCountries_1517.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/06_DiD_Mineral.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/07_DiD_Mineral_1517.do
Efforts/10_usar_panel_SaavedraRomero2021/Stata/08_doubleLassoPeru.do
Efforts/11_repasar_econometría_libro_Bernal_Peña/Capitulo_7_VI.do
Efforts/11_repasar_econometría_libro_Bernal_Peña/variables_instrumentales_do_file.txt
Efforts/10_usar_panel_SaavedraRomero2021/Stata/00_MasterFileSetup.do
Efforts/8_estructurar_panel_para_STATA/outputs/panel_IV.dta
Efforts/8_estructurar_panel_para_STATA/.ipynb_checkpoints/Estructurar_Panel_STATA-checkpoint.ipynb
Efforts/7_ArmarPanel/outputs/PANEL_2026_04_24.parquet
Efforts/7_ArmarPanel/outputs/PANEL_2026_06_09.parquet
Efforts/7_ArmarPanel/outputs/PANEL_2026_06_09.xlsx
Efforts/7_ArmarPanel/.ipynb_checkpoints/Armar_Panel-checkpoint.ipynb
utils/__pycache__/setup_general.cpython-312.pyc
utils/__pycache__/paths.cpython-312.pyc
engines/.ipynb_checkpoints
.ipynb_checkpoints/
/Efforts