/Data
/References
*.png
*.private
/Efforts/0_Definir municipios mineros
Efforts/1_estimar_porcentaje_area_potencial_minero/.ipynb_checkpoints/Estimar_porcentaje_area_potencial_minero-checkpoint.ipynb
Efforts/1_estimar_porcentaje_area_potencial_minero/poligonos_interseccion_por_categoriaMineral.parquet
Efforts/1_estimar_porcentaje_area_potencial_minero/porcentaje_area_municipal_potencial_minero.parquet
Efforts/2_estimar_area_titulo_minero/.ipynb_checkpoints
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.xlsx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.shx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.shp
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.prj
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.parquet
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.dbf
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro_validos.cpg
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro.xlsx
Efforts/2_estimar_area_titulo_minero/outputs/titulos_oro.parquet
Efforts/2_estimar_area_titulo_minero/.virtual_documents/estimar_area_titulo_minero.ipynb
Efforts/3_hacer_resumen_info_disponible
Efforts/4_explorar_presencia_mineros_subsistencia/.ipynb_checkpoints/Explorar_presencia_mineros_subsistencia-checkpoint.ipynb
/Efforts/5_Explorar_vbles_resultado
/Efforts/6_Propuesta
Efforts/7_ArmarPanel/outputs/PANEL_2026_04_21.xlsx
Efforts/7_ArmarPanel/outputs/PANEL_2026_04_24.xlsx
Efforts/8_estimar_IV